//
   Created by Administrator on 2016/5/27.

extends ../layout
block content
   .container
      .row
         table.table.table-hover.table-bordered
            thead
               tr
                  th 类别
                  th 录入时间
                  th 更新
                  th 删除
            tbody
               each item in categories
                  tr(class="item-id-#{item._id}")
                     td #{item.name}
                     td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
                     td: a(target="_self",href="/category/update/#{item._id}") 修改
                     td: button.btn.btn-danger.del(type="button",data-id=item._id) 删除
   script(src="/js/movie_list.js")